

div{
    width: 400px;
    margin: auto;
}

p{
    border-bottom: 2px solid blue ;
    text-align: center;
}

label
{
    padding: 4px;
    width: 100px;
    text-align: right;
    display: inline-block;
}

input{
    border-color: black;
    margin: 4px;
    padding: 4px;
}

#submit{
    background-color: rgb(53, 153, 240);
    color: whitesmoke;
    border:0em;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}