#primulp{
    border-color: aqua;
}
h1{
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.titlul{
    font-size: 15px;
    text-align: center;
}
#subtitlu{
    color:blue;
}

section p{
    text-decoration: underline;
}